.diagnostic_page_wrapper {
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.wrapper_exit_menu {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
    background-color: rgba(247, 247, 247, 1);
    margin-bottom: 50px;
    text-decoration: none;
    color: #db406e;
    font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Neucha', cursive;
}

.wrapper_exit_menu a{
    color: #db406e;

}

.wrapper_exit_menu p {
    display: flex;
    align-self: center;
    padding-left: 10px;
    white-space: nowrap;
    font-size: 1.6rem;
    
}

.diagnostic_page_text {
    width: 100%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Spectral', serif;
    font-size: 1.6rem;  
}

.diagnostic_page_text p,.diagnostic_page_text h4,.diagnostic_page_text h5{
    text-indent: 1.5em;
}


.diagnostic_page_text h4,.diagnostic_page_text h5 {
    font-size: 3rem;
    font-family: 'Caveat', cursive;
    color: #E30B5D;
}

.exit_menu_a_plus_text{
    display: flex;
    flex-direction: row;

}



.diagnostic_ul li {
    margin-left: 25px;
    list-style-type:disc!important;
    
}