.img_respirator img {
    width: 100%;
}


.img_respirator {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.img_respirator div{
    margin-left: 7%;
    width: 40%;
    display: flex;
    
}